{% extends 'base.html' %}

{% block title %}
New Post
{% endblock title %}

{% block content %}
<h1>Add Post for {{ user.first_name }} {{ user.last_name }}</h1>
<form method="POST" action="{{ url_for('post_create', user_id=user.id) }}">
  <p>Title:     <input type="text" name="title"></p>
  <p>Content:  <textarea name="content" rows="4"></textarea></p>
  <button class="btn btn-primary" type="submit">Add</button>
  <a class="btn btn-secondary" href="{{ url_for('user_detail', user_id=user.id) }}" role="button">Cancel</a>
</form>
{% endblock content %}