{% extends 'base.html' %}

{% block title %}Question {{ q_num + 1 }}{% endblock title %}

{% block content %}
<div class="container container-fluid">
  <h3>{{ q_num + 1 }}. {{ question }}</h1><br>
  <form action="{{ url_for('answer') }}" method="POST" name="num">
    {% for choice in choices %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="choice" id="{{ choice }}">
        <label class="form-check-label" for="{{ choice }}">
          {{ choice }}
        </label>
      </div>
    {% endfor %}
    <br><button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}