{% extends 'base.html' %}

{% block title %}Pets{% endblock title %}

{% block content %}
<h1 class="display-1">Pets</h1>

<div class="d-flex align-content-around flex-wrap pets-container">
  {% for pet in pets %}
  <div class="card pet-card m-2 hover-shadow rounded-5" style="width: 18rem;">
    {% if pet.photo_url %}
      <img class="card-img-top" src="{{ pet.photo_url }}" alt="Pet image">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title pet-name">
        <a href="{{ url_for('pet_detail', pet_id=pet.id) }}">{{ pet.name }}</a>
      </h5>
      {% if pet.notes %}
        <p class="card-text pet-notes">{{ pet.notes }}</p>
      {% endif %}
      {% if pet.available %}
        <div style="font-size: 2rem"><span class="badge badge-info" style="background:rgb(1, 218, 1)">Available!</span></div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}