{% extends 'base.html' %}

{% block title %}Pick A Story{% endblock title %}

{% block content %}
<h1>Madlibs</h1>

<form action ="{{ url_for('madlibs_form') }}">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Pick A Story!
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {% for story_id, story in stories.items() %}
      <li><button class="dropdown-item"  type="submit" name="story_id" value="{{ story_id }}">{{ story.preview() }}</button></li>
    {% endfor %}
  </ul>
</div>
</form>
{% endblock content %}