{% extends 'base.html' %}

{% block title %}Boggle{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between" id="score-countdown-display">
  <div>Score: <span id="score">0</span></div>
  <div>Countdown: <span id="countdown-time">60</span></div>
</div>
<br>

<div class="container game-container" id="game-board">
  <div class="row row-cols-5 d-flex justify-content-center">
    {% for row in board %}
      {% for letter in row %}
        <div class="col letter-square d-flex align-items-center justify-content-center">{{ letter }}</div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
<br>

<div class="container guess-form-container">
  <form id="guess-form">
    <label for="user-guess">Guess a word:</label> 
    <input type="text" id="user-guess" name="guess">
    <button type="submit" class="btn btn-primary">Enter</button><br>
    <div id="guess-msg" class="form-text"></div>
  </form>
</div>
<br>

<div class="container end-game-container" id="end-game-msg">
</div>

{% endblock content %}